.form-container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #333;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: white;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

.form-container label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    background-color: #666;
    color: white;
}

.anexo-container {
    margin-top: 10px;
    text-align: right;
}

.btn-anexar {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #555;
    color: white;
    cursor: pointer;
}

.btn-submit {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #b9b9b9;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #b9b9b9c7;
}

.btn-voltar {
    display: block;
    margin: 15px auto 0;
    text-align: center;
    background-color: #3b3b3b;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
}